<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="HomePage">
          <span class="menu-title">Home Page</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="carbooking">
          <span class="menu-title">See Available Cars</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="seeMyRentedCars">
          <span class="menu-title">See My Rented Cars</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
    </ul>
    </nav>