<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="HomePage">
          <span class="menu-title">Home Page</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="viewDetails">
          <span class="menu-title">Edit details</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="carform">
          <span class="menu-title">Add a Car</span>
          <i class='mdi mdi-contacts menu-icon'></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="seeMyCars">
          <span class="menu-title">See My Cars</span>
          <i class="fas fa-car menu-icon"></i>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="newentry">
          <span class="menu-title">Post my car for Rent</span>
          <i class='mdi mdi-contacts menu-icon'></i>
        </a>
      </li> 
      
      <li class="nav-item">
        <a class="nav-link" href="ownerHistory">
          <span class="menu-title">My History</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="postedcars">
          <span class="menu-title">My Posted Cars</span>
          <i class="fas fa-car menu-icon"></i>
        </a>
      </li>

    </ul>
    </nav>